.font-size {
	font-size: 1.5rem;
}

p {
    margin: 0!important;
}

.bg-blue {
    background-color: #00006F;
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	background-color: #ccc;
}

.single-border {
	border: 2px solid white;
}

.double-border {
	border: 5px double white;
}